.overview_cards {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;

    border-radius: 0.8rem;
    background: #fff;

    /* Shadow/Card */
    box-shadow: 0px 2px 6px 0px rgba(26, 24, 30, 0.04);

    width: 100%;

    padding: 2rem;

    .overview_title {
        color: #4d4d4d;
        font-size: 1.6rem;
    }

    .overview_value {
        color: #1a181e;
        font-size: 3.2rem;
        font-weight: 500;
    }
}
