.transactions_table_container {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;

    border-radius: 0.8rem;
    background: #fff;
    box-shadow: 0px 2px 6px 0px rgba(26, 24, 30, 0.04);

    padding: 1.2rem;
}
