.app {
    display: flex;

    .app_main {
        display: flex;
        flex-direction: column;
        width: calc(100vw - 22.4rem);
    }

    .app_main_section {
        display: flex;
        flex-direction: column;
        gap: 3.2rem;

        background: #fafafa;

        height: 100%;
        padding: 3.2rem;
    }
}
